/* Reglas CSS */
/* Tipo etiqueta */
body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    border: 0;
    padding: 0;
}

/* Tipo .clase */

/* Tipo #id */
#encabezado {
    width: 980px;
    /*margin: auto;*/
    display: flex;
    justify-content: space-between;
    /*margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;*/
    margin: 20px auto 10px;
}

/*#encabezado>div>img {
    width: 200px;
    height: 100px;
}*/

#encabezado h1 { font-size: 1.2em; }
#encabezado h2 { font-size:   1em; }
#encabezado h3 { font-size: 0.7em; }
#encabezado h4 { font-size: 0.5em; }

#encabezado>div:first-child {
    display: flex;
}