/* Actividad Final */
/* Organizar las reglas CSS descritas debajo, por secciones del sitio y por tipo de regla */


/* Reglas CSS */
/* Tipo etiqueta */
body, h1, h2, h3, h4, h5, h6, figure {
    margin: 0;
    border: 0;
    padding: 0;
}

/* Tipo .clase */

/* Tipo #id */
#encabezado {
    width: 980px;
    /*margin: auto;*/
    display: flex;
    justify-content: space-between;
    /*margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;*/
    margin: 20px auto 10px;
}

/*#encabezado>div>img {
    width: 200px;
    height: 100px;
}*/

#encabezado h1 { font-size: 1.2em; }
#encabezado h2 { font-size:   1em; }
#encabezado h3 { font-size: 0.7em; }
#encabezado h4 { font-size: 0.5em; }

#encabezado>div:first-child {
    display: flex;
}

#menu a {
    text-decoration: none;
    color: black;
    font-variant: small-caps;
    padding: 10px;
}

#menu li {
    list-style-type: none;
    display: inline-flex;
}

#menu ul {
    padding-left: 0;
    margin: 0;
    text-align: center;
    font-size: 1.2em;
}

#menu {
    height: 50px;
    background-image: url('../images/fondo_menu.png');
    background-repeat: no-repeat;
    background-position-x: center;
}

.container {
    width: 980px;
    margin: auto;
}

#nota-principal {
    padding: 8px;
    box-shadow: 0 0 10px gray;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cajaflex { display: flex; }
.cajaflex.between { justify-content: space-between; }
.cajaflex.around { justify-content: space-around; }

.titulo-nota {
    font-variant: small-caps;
    font-size: 1.8em;
}

.titulo-nota>a {
    color: #b92025;
    text-decoration: none;
}

.titulo-nota>a:hover { text-decoration: underline; }
.intro-nota {
    text-align: justify;
    margin-top: 8px;
}

.leer-nota {
    display: inline-block;
    width: 118px;
    height: 30px;
    background-image: url('../images/boton_rojo.png');
    text-decoration: none;
    color: white;
    text-align: center;
    font-variant: small-caps;
    padding-top: 5px;
}

.contenido-nota {
    width: 62%;
}

.sombra-imagen {
    box-shadow: 0 0 5px gray;
}

.imagen-nota {
    position: relative;
}

.imagen-nota>figcaption {
    width: 66px;
    height: 31px;
    background-image: url('../images/cinta.png');
    padding-left: 15px;
    padding-top: 6px;
    position: absolute;
    top: 15px;
    left: -11px;
}

#notas>article {
    background-image: url('../images/sombra_notas_abajo.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

#banners {
    border-left: 1px solid gray;
    padding-left: 10px;
    margin-left: 10px;
}
#banners>a {
    display: block;
    margin-bottom: 10px;
}

#programas {
    margin: 40px 0;
}

#enlaces>.bloque>h3 {
    font-variant: small-caps;
    color: #b92025;
    font-size: 1.5em;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

#enlaces>.bloque>a {
    color: black;
    text-decoration: none;
    display: block;
}

#enlaces>.bloque>a:hover { color: #b92025; }

#enlaces>.bloque {
    padding: 0 15px;
    line-height: 1.8em;
}

#enlaces { margin-bottom: 40px; }